body{
    font-style: oblique;
    border-width: 2px;
    border-style: groove;
    border-color: black;
    margin-left: 25vw;
    margin-right:25vw;
    background-color: aqua;
    padding-left: 20px;
}